@font-face{
    font-family:'FontAwesome';
    src:url('./fonts/fontawesome-webfont.eot?v=4.3.0');
    src:url('./fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'),url('./fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'),url('./fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'),url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'),url('./fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'clock';
    src:url('./fonts/alarm clock.ttf');
}
@font-face{
    font-family:'digital';
    src:url('./fonts/DS-DIGI.TTF');
}

body{
	background: #fafafa;
    font-size: .8em;
    text-align: center;
}
#star{
	display: inline-block;
	margin: auto;
	font-size: 1.2em;
	max-height: 60vh;/*
	border: 3px solid #F0F0F0;*/
	background: #fff;
	padding: 1em;
	border-radius: 0.8em;
	box-shadow: 2px 5px 3px grey;
	overflow: hidden;
}
#star h2{
	text-align: left;
	font-family: monospace;
	font-style: normal;
	font-variant: small-caps;
    font-weight: normal;
    font-size: 2em;
    line-height: 1.6em;
    padding-left: .5em;
    background: #fafafa;
    border: 1px solid #f0f0f0;
    border-radius: .8em;
    margin-top: 0;
    color: #6060f0;
}
#star .ligne:before{
    content:"\f207";
    display:inline-block;
    font:normal normal normal 14px/1 FontAwesome;
    font-size:inherit;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    transform:translate(0, 0);
    margin-right: .5em;
}
#star .ligne{
	font-family: Helvetica, "Courier New", Courier, monospace;
	font-style: normal;
	font-variant: normal;
    font-size: 2em;
    line-height: 1em;
    padding-left: 1em;
}
#star .depart h4:before{
    content:"\f017";
    display:inline-block;
    font:normal normal normal 14px/1 FontAwesome;
    font-size:inherit;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    transform:translate(0, 0);
    margin-right: .5em;
}
#star .depart p{
	margin-top: .3em;
	margin-bottom: .3em;
}
#star .direction:before{	
	content: "\f0a9";
    display:inline-block;
    font:normal normal normal 14px/1 FontAwesome;
    font-size:inherit;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    transform:translate(0, 0);
    margin-right: .5em;
}
#star .stopline{
    display: inline-block;
    margin-right: 1em;
    text-align: left;
    vertical-align: top;
}
#star article.depart{
	width: 20em;
	margin: auto;
	color: grey;
	padding: 0 2em 0 2em;
	margin-bottom: 1em;
}
#star article.depart:first-of-type{
	color: black;
	border: 1px dashed grey;
	border-radius: 0.2em;
	box-shadow: 1px 2px 1px grey;
}
#star .depart h4{
	text-align: center;
    font-size: 2.2em;
    margin: 0;
}
#star .trentedeux{
    padding-left: .2em;
    padding-right: .2em;
    text-align: center;
    border: 1px solid #E2001A;
    font-weight: bolder;
    border-radius: 50%;
    background: #FFF164;
    color: #E2001A;
}
#star .quarante{
	font-size: .7em;
    line-height: .4em;
    padding-left: .2em;
    padding-right: .2em;
    text-align: center;
    border: 1px solid #3D3C3F;
	background: #FFDD00;
	color: #3D3C3F;
	border-radius: 50%;
}/*
.quarante:after{
	display: inline-block;
	font-size: .4em;
	content: 'ex';
}*/
#star header{
	font-family: digital, clock, monospace;
    font-size: 3em;
    margin-bottom: .2em;
    background: #fafafa;
    border-radius: .8em;
}
#star header span{
    margin:1em;
}
